main{
    border: solid blue;
}
h1{
    color: blue;
}

body{
    width: 400px;
}

label{
    display: inline-block;
    width: 11em;
    text-align: right;
}

fieldset{
    margin-bottom: 1em;
}

#seconds{
    margin-right: 0.5em;
}